
.todo-card{
    border: solid 2px black;
    border-radius: 7px;
    padding: 10px;
    background-color: #f2f2f2;
    height: 70px;
    width: 140px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;


}